body {
    background-color: rgb(169, 14, 40);
}

main {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    color: white;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

h2 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

.card {
    background-color: white;
    border: none;
    margin-bottom: 70px;
    padding: 50px;
}

#calcolatore {
    color: rgb(169, 14, 40);
    gap: 40px;
}

#biglietto {
    gap: 10px;
    display: none;
}

input,
select {
    border: 1px solid rgb(169, 14, 40);
    border-radius: 10px;
    padding: 5px;
}

.inputs,
.buttons {
    justify-content: center;
    gap: 30px;
    background-color: white;
}

.buttons button {
    background-color: rgb(140, 14, 35);
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 600;
    text-transform: uppercase;
}

#dettagli-passeggero {
    justify-content: space-between;
}

#dettagli-biglietto {
    gap: 30px;
    border-left: 3px solid black;
    padding-left: 50px;
}

h3 {
    text-transform: uppercase;
}